body {
    background-color: rgb(209, 169, 117);
}

p{
    color: #a9ffa6;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#am{
    color:rgb(255, 214, 78);
    text-align: center;
}


.shoo:hover {
    color: rgb(9, 255, 0);
}

.shoo{
    color:rgb(255, 255, 255);
    transition: color 1.5s;
    text-align: center;
}

#test{
    background-color:rgba(80, 40, 143, 0.288);
    border-radius: 5%;
    border: 7px solid #ffe135;
    padding-bottom: 10px;
    font-size: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

#test h1{
    text-align: center;
    color:rgb(255, 229, 80);
}

.about{
    width: 80%;
    background-color:rgba(80, 40, 143, 0.288);
    border-radius: 5%;
    border: 7px solid #b6ff85;
    padding-bottom: 10px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ff8888;
    border-radius: 90%;
}

.wow{
    background-color:rgba(73, 57, 57, 0.308);
    width: 50%;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:rgb(9, 255, 0);
    border: 1px solid #00fff2;
}

@keyframes lmaooo {
    0%{
        background-color:rgba(255, 0, 0, 0);
    }
    20%{
        background-color:rgb(203, 180, 255);
    }
    30%{
        background-color:rgb(201, 141, 250);
    }
    100%{
        background-color:rgba(73, 57, 57, 0.308);
    }
}

.wow:hover {
    background-color:rgb(255, 140, 140);
    animation:lmaooo 5s 0s both;
}

.wow h1{
    font-size: 70px;
    font-family: 'Comic Sans MS';
    margin-top: 0;
    margin-bottom: 1;
    position: relative;
    top: 30px;
}